<h1>Developers#new</h1>
<p>Find me in app/views/developers/new.html.erb</p>

<%= form_for @developer do |c| %>
  <div class="field">
    <%= c.label :email %>
    <%= c.text_field :email %>
  </div>
  <div class="field">
    <%= c.label :password %>
    <%= c.text_field :password %>
  </div>
  <%= c.submit "Create developer" %>
<% end %>
