
<% if notice %>
<p id="notice"> <%= notice %></p>
<% end %>



<h1>Listing Projects</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Max Hours Allowed</th>
    <th>Total Hours Worked</th>
  </tr>

  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.max_hours %></td>
        <td><%= project.hour_count %></td>

        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<td><%= link_to 'New Project', new_project_path %></td>
<td><%= link_to 'New Developer', new_developer_path %></td>
<td><%= link_to 'New Time Entry', new_time_entry_path %></td>

<%= link_to "logout", logout_path %>
