<h1>Projects#new</h1>
<p>Find me in app/views/projects/new.html.erb</p>

<h2>Create Project</h2>
<% if @project.errors.any? %>
<div id="error_explanation">
  <h2>project cannot be created</h2>
  <ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @project do |c| %>
<div class="field">
  <%= c.label :name %>
  <%= c.text_field :name %>
</div>

<div class="field">
  <%= c.label :max_hours %>
  <%= c.number_field :max_hours %>
</div>

<%= c.submit "Create project" %>
<% end %>
